[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/dracula-vim"]
	path = bundle/dracula-vim
	url = https://github.com/dracula/vim.git
[submodule "/Users/easonzhan/.vim/bundle/nerdtree"]
	path = /Users/easonzhan/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/Users/easonzhan/.vim/bundle/nerdtree-git-plugin"]
	path = /Users/easonzhan/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/conoline.vim"]
	path = bundle/conoline.vim
	url = https://github.com/miyakogi/conoline.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
